.main {

}

.title {
    padding: 2rem 1rem;
    border-bottom: 1px solid gray;
}

.animation {
    width: 400px;
    margin: auto;
}
.container {
    display: flex;
    justify-content: space-between;
}