.main {
    background-color: black;
}

.title {
    color: white;
    padding: 2rem 1rem;
    border-bottom: 1px solid gray;
}

.animation {
    width: 800px;
    margin: auto;
}
.container p {
    color: white;
}

